@if ( link() ) {
  <a 
    [routerLink]="link()"
    class="button {{ classType() }}"
  >
    @if (icon()) {
      <svg width="16" height="16">
        <use [attr.xlink:href]="'assets/svg/sprite.svg#' + icon()"></use>
      </svg>
    }
    {{ label() }}
  </a>
} @else {
  <button 
    type="{{ type() }}"
    class="button {{ classType() }}"
    [class.disabled]="disabled()"
    (click)="buttonClick.emit()"
  >
    @if (icon()) {
      <svg width="16" height="16">
        <use [attr.xlink:href]="'assets/svg/sprite.svg#' + icon()"></use>
      </svg>
    }
    {{ label() }}
  </button>
}

