<div class="popup-wrap">
  <h3 class="popup-title">Create Tournament</h3>
  <form class="popup-form" [formGroup]="tournamentForm">
    <div class="form-row">
      <app-form-control-input
        formControlName="name"
        [placeholder]="'Tournament Name'"
        [required]="true"
        [label]="'Tournament Name'"
        [errorMessage]="tournamentForm.get('name')?.invalid && (tournamentForm.get('name')?.touched || tournamentForm.get('name')?.dirty) ? 'Tournament name is required (min 3 characters).' : ''"
      ></app-form-control-input>
    </div>
    <div class="form-row">
      <app-form-control-input
        formControlName="city"
        [placeholder]="'City'"
        [label]="'City'"
        [errorMessage]="tournamentForm.get('city')?.invalid && (tournamentForm.get('city')?.touched || tournamentForm.get('city')?.dirty) ? 'City must be at least 3 characters.' : ''"
      ></app-form-control-input>
    </div>
    <h3 class="form-row-title">Select Format</h3>
    <div class="formats">
      @for (tournamentStatuses of tournamentTypes; track $index) {
        <label class="format">
          <input 
            type="radio" 
            name="type" 
            [value]="tournamentStatuses.value" 
            formControlName="type">
          <span class="icon">
            <svg width="16" height="16">
              <use [attr.xlink:href]="'assets/svg/sprite.svg#' + tournamentStatuses.value"></use>
            </svg>
          </span>
          <span class="title">{{ tournamentStatuses.label }}</span>
          <span class="desc">{{ tournamentStatuses.desc }}</span>
        </label>
      }
    </div>

    <div class="row-dates">
      <div class="date">
        <app-input-datepicker
          [label]="'Start Date'"
          [value]="tournamentForm.get('start_date')?.value"
          [errorMessage]="formIsValid() ? '' : 'Start date must be before the end date.'"
          (onChange)="changeDate({start_date: $event})"
        ></app-input-datepicker>
      </div>
      <div class="date">
        <app-input-datepicker
          [label]="'End Date'"
          [value]="tournamentForm.get('end_date')?.value"
          [errorMessage]="formIsValid() ? '' : 'End date must be after the start date.'"
          (onChange)="changeDate({end_date: $event})"
        ></app-input-datepicker>
      </div>
    </div>
    <app-button
      [type]="'submit'"
      [label]="'Create Tournament'"
      [classType]="'primary sm'"
      (buttonClick)="submitForm()"
    ></app-button>
  </form>
</div>
