<app-header-main
  [pageTitle]="'Tournaments'"
></app-header-main>
<div class="filter">
  <div class="search">
    <svg width="16" height="16">
      <use xlink:href="assets/svg/sprite.svg#search"></use>
    </svg>
    <input 
      type="text"
      [formControl]="nameFilter"
      placeholder="Search tournaments..." />
  </div>
  <div class="bottom-filter">
    <div class="selects">
      <mat-select 
        [className]="'filter-select'"
        [placeholder]="'All Formats'"
        [value]="formatFilter()"
        [multiple]="true"
        (valueChange)="setFormatFilter($event)"
      >
        @for (type of tournamentTypes; track $index) {
          <mat-option [value]="null" style="display: none;"></mat-option>
          <mat-option 
            value="{{ type.value }}"
          >
            {{ type.label }}
          </mat-option>
        }
      </mat-select>
      <mat-select 
        [className]="'filter-select'"
        [placeholder]="'All Statuses'"
        [multiple]="true"
        [value]="statusFilter()"
        (valueChange)="setStatusFilter($event)"
      >
        @for (status of tournamentStatuses; track $index) {
          <mat-option [value]="null" style="display: none;"></mat-option>
          <mat-option 
            value="{{ status.value }}"
          >
            {{ status.label }}
          </mat-option>
        }
      </mat-select>
    </div>
    <app-button
      [type]="'button'"
      [label]="'Create Tournament'"
      [classType]="'primary sm'"
      (buttonClick)="openCreateTournamentDialog()"
    ></app-button>
  </div>
</div>
<div class="tournaments">
  @for (tournament of tournaments(); track $index) {
    <div class="tournament">
      <div class="tournament-img">
        <span class="tournament-status">{{ tournament.status }}</span>
        <img [attr.src]="tournament?.logo || 'assets/images/tournament.jpg'"  alt="">
      </div>
      <div class="tournament-bottom">
        <a
          class="tournament-title"
          [routerLink]="tournament.id"
        >
          {{ tournament.name }}
        </a>
        <p class="tournament-type">{{ tournament.type }}</p>
        <p class="tournament-date">{{ tournament.start_date | date: 'dd.MM.yyyy' }} - {{ tournament.end_date | date: 'dd.MM.yyyy' }}</p>
      </div>
    </div>
  }
</div>
@if (totalPages() > 1) {
  <app-pagination
    [total]="totalPages()"
    [page]="page()"
    [limit]="limit()"
    (pageChange)="setPage($event)"
  ></app-pagination>
}
