<div 
  class="form-control {{ className() }}"
  [class.error]="errorMessage()"
>
  <p class="label">
    {{ label() }}
    @if (required()) {
      <span class="required">*</span>
    }
  </p>
  <input
    type="text"
    [matMenuTriggerFor]="datepicker"
    [placeholder]="placeholder()"
    [value]="dateValue()"
    [disabled]="disabled()"
  >

  <mat-menu 
    #datepicker="matMenu"
    class="datepicker-select"
  >
    <mat-calendar
      format="YYYY-MM-DD"
      [selected]="value()"
      (selectedChange)="changeDate($event)"
    ></mat-calendar>
  </mat-menu>

  <div class="icon">
    <svg width="18" height="18">
      <use [attr.xlink:href]="'assets/svg/sprite.svg#calendar'"></use>
    </svg>
  </div>

  @if (errorMessage()) {
    <div class="error-message">
      <svg width="13" height="13">
        <use [attr.xlink:href]="'assets/svg/sprite.svg#attention'"></use>
      </svg>
      {{ errorMessage() }}
    </div>
  }
</div>
