<app-header-page></app-header-page>
<div class="page-top">
  <div class="page-details">
    <div class="logo">
      @if (team()?.logo_url) {
        <img [attr.src]="team()?.logo_url"  alt="">
      } @else {
        <svg width="120" height="120">
          <use xlink:href="assets/svg/sprite.svg#emblema"></use>
        </svg>
      }
    </div>
    <div class="details">
      <h2>{{ team()?.name }}</h2>
      <p>{{team()?.city}}</p>
    </div>
  </div>
  <div class="page-actions">
    <app-button
      [type]="'button'"
      [classType]="'primary sm'"
      [label]="((team()?.team_members || []) | checkUserInTeam: user()?.id!) ? 'Unfollow' : 'Follow'"
    >
    </app-button>
  </div>
</div>
<ul class="tabs">
  @for (menu of tabsMenu(); track $index) {
    <li
      [class.active]="activeTab() === menu.value"
      (click)="activeTab.set(menu.value)"
    >{{ menu.label }}</li>
  }
</ul>
<div class="tab-body">
  @switch (activeTab()) {
    @case ('players') {
      <app-players
        [team]="team()"
        [user]="user()"
        [playersSuggestions]="playersSuggestions()"
        (onSearch)="searchPlayers($event)"
        (onInvite)="inviteToTeam($event)"
        (onDelete)="deletePlayer($event)"
        (onApprove)="approvePlayer($event)"
        (onReject)="rejectPlayer($event)"
      ></app-players>
    }
  }
</div>
